.headers
    h1#header Information & Systems Security Society
    h2 2018-2019 Sponsorship Guide
 
.main-text
    img(src='transparent.png')
    :markdown-it(html=true)
        The Information and Systems Security Society (ISSS) is a student run Computer Science organization  at  the  University  of  Texas  at Austin  dedicated  to  instructing  students  on  the topics of computer security. Through our organization’s events, students are given exposure to both practical and theoretical attacks on real world systems, encouraging students to write better code, design better infrastructure, and defend their privacy and digital freedom in an increasingly connected world.  

        ISSS is seeking corporate sponsors to help fund and host organization events, and to educate students on applications of security in the industry. Through sponsorship, companies can broaden their outreach in the community through hosted events and recruiting opportunities while receiving name recognition within the student body.  

h1#Event-header Weekly Events 

.container2
    .container1
        .col1
            :markdown-it(html=true)
                ### General Meetings
                <span style="color:#c6ecd6">40+ Students, 1 Hour</span>
        .col2
            :markdown-it(html=true)
                <span style = "text-align: justify">ISSS hosts a general meeting or workshop every two weeks focusing on interesting security topics.  
                Previous topics have included ROP, Burp Suite, CSRF, and Meltdown/Spectre.</span>
    .container1
        .col1
            :markdown-it(html=true)
                ### Capture the Flag (CTF)
                <span style="color:#c6ecd6">70+ Students, 2 Hours</span>
        .col2
            :markdown-it(html=true)
                <span style = "text-align: justify">Capture the Flag (CTF) competitions are security competitions designed to challenge students’ practical knowledge of system vulnerabilities in a simulated setting. ISSS writes, hosts, and caters CTF challenges every two weeks.</span>
h1#Event-header Special Events
.container2
    .container1
        .col1
            :markdown-it(html=true)
                ### Fall Networking Dinner*
                <span style="color:#c6ecd6">70+ Students, 2 Hours</span>
        .col2
            :markdown-it(html=true)
                <span style = "text-align: justify">The Fall Networking Dinner serves as a recruiting opportunity for companies seeking security-minded students, offering a platform for companies to discuss security topics with students in a relaxed environment.</span>
    .container1
        .col1
            :markdown-it(html=true)
                ### ISSSCTF†
                <span style="color:#c6ecd6">300+ Students, 3+ Hours</span>
        .col2
            :markdown-it(html=true)
                <span style = "text-align: justify">ISSSCTF is a CTF competition put on during HackTX on October 20-21 in a collaborative effort with Freetail Hackers. Much like the biweekly CTFs, the ISSS officer team creates and writes the CTF challenges.</span>
    
    .container1
        .col1
            :markdown-it(html=true)
                ### Security Day†
                <span style="color:#c6ecd6">130+ Students, 8 Hours</span>  
                
        .col2
            :markdown-it(html=true)
                <span style = "text-align: justify">Security Day is a day-long cybsersecurity focused student event hosted during the spring semester in conjunction with the Department of Computer Science that features several technical talks given by Gold/Silver sponsors and a CTF Competition.</span>

h1#Sponsor-header Sponsorship Levels
.Table
    table
        thead
          tr
            th 
                center
                    :markdown-it(html=true)
                        ## **Level**
            th
                center
                    :markdown-it(html=true)
                        ## **Benefits**
            th 
                center
                    :markdown-it(html=true)
                        ## **Scheduling Priority**
        tbody
          tr
            td 
                center
                    :markdown-it(html=true)
                        ## <span style="color:#D4AF37">Gold</span>  
                        <span style="color:#D4AF37">$3,000</span>
            td 
                left
                    :markdown-it(html=true)
                        * Host a CTF Competition OR a Custom Event
                        * Invitation to Networking Dinner (up to 4 representatives)*
                        * All benefits of the Silver level
            td
                center
                    :markdown-it(html=true)
                        ## 1<sup>st</sup>
          tr
            td 
                center 
                    :markdown-it(html=true)
                        ## <span style="color:#BCC6CC">Silver</span>  
                        <span style="color:#BCC6CC">$1,500</span>
            td 
                left
                    :markdown-it(html=true)
                        * Host a catered General Meeting (technical talk) OR Workshop
                        
                        * Invitation to Fall Networking Dinner (up to 2 representatives)*
                        * Provide a company presence during Security Day†
                        * Recognition on ISSS T-Shirts and Security Day marketing materials
                        * Have Access to mini CTF Resume/Solves data
                        * All benefits of the Bronze level
            td 
                center
                    :markdown-it(html=true)
                        ## 2<sup>nd</sup>
          tr
            td 
                center
                    :markdown-it(html=true)
                        ## <span style="color:#B26F19">Bronze</span>  
                        <span style="color:#B26F19">$750</span>
            td 
                left
                    :markdown-it(html=true)
                        * Receive recognition at Semester Kickoffs and on the ISSS website 
                        * Company career opportunities distributed on community mailing list 
                        * Be able to contribute problems to our bi-weekly CTFs 
                        * Access to community resumes
            td 
                center
                    :markdown-it(html=true)
                        ## N/A

.Footnote
    :markdown-it(html=true)
        \* Fall semester only
        <br />
        † Spring semester only

.Info
    :markdown-it(html=true)
        ### For more information, and to become a sponsor, contact us at [corporate@isss.io](<mailto:corporate@isss.io>). Visit our website at [isss.io](https://www.isss.io/) for the latest organization news and information.
.Terms
    :markdown-it(html=true)
        *Please Note:* Sponsorship runs on a yearly schedule consisting of two academic semesters. Sponsorship can begin over the Winter
        (consisting of the following Spring and Fall semesters) or over the Summer (consisting of the following Fall and Spring semesters). 
        ISSS must receive sponsorship funds prior to sponsors participating in any ISSS events. General meetings hosted by sponsors are
         expected to be educational, respectful of students’ time, and technical in nature. Sponsorship levels, benefits, and prices 
         are subject to change every academic year.
 
h1#FAQ FAQ


.EOP 
    h1 Last Page. Run the Python Script. Python delete_page.py

style
  include:scss isss_prospectus.scss
