.headers
    h1#header Information & Systems Security Society
    h2 2018-2019 Sponsorship Guide

.main-text
    img(src='transparent.png')
    :markdown-it(html=true)
        The Information and Systems Security Society (ISSS) is a student run Computer Science organization  at  the  University  of  Texas  at Austin  dedicated  towards  instructing  students  on  the topics of computer security. Through our organization’s events, students are given exposure to both practical and theoretical attacks on real world systems, encouraging students to write better code, design better infrastructure, and defend their privacy and digital freedom in an increasingly connected world.  
          
        
        We're seeking corporate sponsors to help fund and host organization events, and to educate students on applications of security in the industry. Through sponsorship, companies can broaden their outreach in the community through hosted events and recruiting opportunities while receiving name recognition within the student body.

h1#Event-header Weekly Events

.container2
    .container1
        .col1
            :markdown-it(html=true)
                ## General Meetings
                <span style="color:#ff3399">40+ Students, 1 Hour</span>
        .col2
            :markdown-it(html=true)
                Every other week, we host a general meeting or workshop covering some interesting security topic.  
                In the previous semesters, we've covered ROP, Burp Suite, CSRF, and Meltdown/Spectre.
    .container1
        .col1
            :markdown-it(html=true)
                ## Capture the Flag (CTF) Competitions
                <span style="color:#ff3399">70+ Students, 2 Hours</span>
        .col2
            :markdown-it(html=true)
                Capture the Flag (CTF) competitions are security competitions designed to challenge students’ practical knowledge of system vulnerabilities in a simulated setting.  
                We write, host, and cater CTF challenges every two weeks.
h1#Event-header Special Events
.container2
    .container1
        .col1
            :markdown-it(html=true)
                ## Fall Networking Dinner
                <span style="color:#ff3399">70+ Students, 2 Hours</span>
        .col2
            :markdown-it(html=true)
                The Fall Networking Dinner serves as recruiting opportunities for companies seeking security-minded students, offering a platform for companies to discuss security topics with students in a relaxed environment.
    .container1
        .col1
            :markdown-it(html=true)
                ## ISSSCTF
                <span style="color:#ff3399">300+ Students, 3+ Hours</span>
        .col2
            :markdown-it(html=true)
                ISSSCTF is a CTF competition put on during HackTX in a collaborative effort with Freetail Hackers. Much like the biweekly CTFs, the ISSS officer team creates and writes the CTF challenges.
    
    .container1
        .col1
            :markdown-it(html=true)
                ## Security Day
                <span style="color:#ff3399">130+ Students, 8 Hours</span>
        .col2
            :markdown-it(html=true)
                Security Day is a day-long cybsersecurity focused student event hosted in conjunction with the Department of Computer Science that features several technical talks given by Gold/Silver sponsors and a CTF Competition.
style
  include:scss isss_prospectus.scss
